//
//  Common.xcconfig
//  Injector
//
//  Created by Tomasz Lewandowski on 01/02/2020.
//  Copyright © 2020 LionSoftware.org. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

INJECTOR_BUNDLE_IDENTIFIER = org.lionsoftware.injector
INJECTOR_PROVISIONING_PROFILE_SPECIFIER =

VERSIONING_SYSTEM = apple-generic
PRODUCT_VERSION = 0.0.1
SWIFT_VERSION = 5.0
CODE_SIGN_STYLE = Manual

